// Variables

$text-light: #eeeeee;
$text-lighter: #fff;
$text-dark: #7c7c7c;
$main-color: #17daa2;

$bgc-light: #f8f8f8;

$main-font: 'Josefin Sans', sans-serif;

// Global

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: $main-font;
}

.container {
	max-width: 1140px;
	padding: 0 20px;
	margin: 0 auto;
}

section {
	text-align: center;
}

.shadow {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}

.no-shadow {
	padding: 60px 0;
}

.btn {
	text-decoration: none;
	font-size: 12px;
	padding: 10px 30px;
	border-radius: 30px;
	text-align: center;
	transition: all 0.2s;

	&:hover {
		transform: scale(1.15);
	}
}

.section-title {
	position: relative;
	text-align: center;
	font-size: 36px;
	color: $text-dark;
	font-weight: 200;
	padding: 14px 0;

	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 50%);
		width: 30px;
		height: 1px;
		background-color: $main-color;
	}
}

.section-text {
	text-align: center;
	margin-top: 25px;
	font-size: 14px;
	color: $text-dark;
}

.section-half {
	.container {
		display: flex;

		.section-img-box {
			flex: 0 0 50%;

			img {
				width: 100%;
				object-fit: cover;
			}
		}

		.section-description-box {
			flex: 0 0 50%;
			margin: auto;
			padding: 0 15px;
			text-align: left;
			display: flex;
			flex-direction: column;
			align-items: flex-start;

			.section-title {
				text-align: left;

				&::after {
					display: none;
				}
			}

			.section-text {
				text-align: left;
				color: #bfbfbf;
				margin-bottom: 25px;
				line-height: 1.2;
			}

			.section-btn {
				background-color: $main-color;
				color: $text-lighter;
			}
		}
	}
}

// Navigation

.nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 40px 0;

	.wrapper {
		display: flex;
		justify-content: space-between;
	}

	.nav-logo {
		text-decoration: none;
		display: inline-block;
		font-size: 26px;
		color: $text-light;
		font-weight: 700;

		span {
			color: #1ebb7a;
		}
	}

	ul {
		list-style-type: none;
		display: flex;
		align-items: center;

		li {
			display: inline-block;
			margin-left: 20px;

			a {
				text-decoration: none;
				padding: 5px 15px;
				color: $text-light;
				text-transform: uppercase;
				font-size: 12px;
			}
		}
	}
}

// Splash section

.splash {
	height: 100vh;
	background-image: url('https://cdn.pixabay.com/photo/2017/03/02/16/54/iceland-2111811_1280.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	.container {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.page-title {
		font-size: 46px;
		color: $text-light;
		font-weight: 100;

		span {
			font-weight: 700;
		}
	}

	.page-subtitle {
		font-size: 18px;
		color: $text-light;
		margin: 20px 0 45px;
	}

	.splash-btn {
		color: $text-light;
		border: 2px solid $text-light;
	}
}

// About-us Section

.about-us {
	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.wrapper {
		display: flex;
		justify-content: space-between;
		margin-top: 40px;

		.card {
			text-align: center;
			padding: 10px 20px;
			cursor: pointer;
			margin-bottom: 45px;

			&:hover i {
				background-color: $main-color;
				color: $text-lighter;
			}

			i {
				font-size: 40px;
				background-color: $bgc-light;
				padding: 30px;
				border-radius: 50%;
				color: $text-dark;
				cursor: pointer;
				margin: 50px 0 40px;
				transition: all 0.3s;
			}

			.card-title {
				margin-bottom: 20px;
			}

			.card-text {
				color: $text-dark;
				font-size: 12px;
			}
		}
	}

	.about-us-btn {
		background-color: $main-color;
		color: $text-lighter;
	}
}

//Camera-section

.camera {
	background-color: $bgc-light;
}

// Computer-section

.computer {
	background-color: $text-lighter;
}

// Quote section

.quote {
	background-image: url('https://images.pexels.com/photos/7652039/pexels-photo-7652039.jpeg');
	// background-image: url('https://cdn.pixabay.com/photo/2018/07/05/14/45/conference-3518465_1280.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	.shadow {
		background-color: rgba(0, 0, 0, 0.8);
	}

	.box {
		padding: 128px 0;

		img {
			height: 70px;
			width: 70px;
			border-radius: 50%;
			object-fit: cover;
			object-position: center;
		}

		h4 {
			color: $text-lighter;
			font-weight: 100;
			font-size: 18px;
			margin: 15px 0;
			span {
				color: $main-color;
			}
		}

		p {
			color: $text-light;
			font-weight: 100;
			font-size: 14px;
		}
	}
}

// Service-section

.services {
	background-color: $bgc-light;
	.wrapper {
		display: flex;
		flex-wrap: wrap;
		margin-top: 30px;

		.service-box {
			flex: 0 0 50%;
			padding: 5px 30px;
			margin: 40px 0;

			display: flex;

			i {
				padding: 20px;
				color: $main-color;
				background-color: $text-lighter;
				border-radius: 50%;
			}

			.service-description {
				margin-left: 20px;

				.section-title {
					text-align: left;

					&::after {
						display: none;
					}
				}

				.section-text {
					text-align: left;
					font-size: 12px;
					line-height: 1.5;
					margin: 0;
					font-weight: 200;
				}
			}
		}
	}
}

// Team-section

.team {
	padding: 60px 0 0;
	.wrapper {
		display: flex;
		flex-wrap: wrap;
		margin-top: 60px;

		.img-box {
			position: relative;
			flex: 0 0 20%;
			overflow: hidden;

			&:nth-child(3),
			&:nth-child(8) {
				img {
					object-position: top;
				}
			}
			img {
				display: block;
				width: 100%;
				height: 220px;
				object-fit: cover;
				object-position: center;
				transition: transform 1s;
			}

			.cover-color {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;

				background-color: $main-color;
				opacity: 0;
				transition: opacity 0.3s;

				h4 {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					color: $text-light;
					font-size: 26px;
					font-weight: 200;
				}
			}

			&:hover .cover-color {
				opacity: 0.9;
			}

			&:hover img {
				transform: scale(1.4);
			}
		}
	}
}

// Price-section

.price {
	background-color: $bgc-light;

	.wrapper {
		display: flex;
		justify-content: space-between;
		margin-top: 70px;

		.price-box {
			flex: 0 0 23%;
			background-color: $text-lighter;
			text-align: left;
			transition: all 0.2s;

			&:hover {
				transform: scale(1.05);
			}

			.price-amount {
				padding: 40px 30px;
				border-bottom: 1px solid $text-light;
				.number {
					font-size: 44px;
					color: $main-color;
					font-weight: 200;
					// font-family: Verdana, Geneva, Tahoma, sans-serif;
					margin-bottom: 15px;
				}

				p {
					color: $text-dark;
					font-weight: 200;
					font-size: 18px;
				}
			}

			.price-description {
				padding: 40px 30px;
				p {
					color: $text-dark;
					font-size: 14px;
					line-height: 2;
					font-weight: 200;
				}
			}

			.price-purchase {
				display: flex;
				justify-content: space-between;
				align-items: center;
				background-color: $main-color;
				color: $text-lighter;
				cursor: pointer;

				p,
				i {
					padding: 15px 20px;
					font-size: 10px;
				}

				p {
					text-transform: uppercase;
					letter-spacing: 3px;
				}
			}
		}
	}
}

// Map section

.map {
	padding: 120px 0;
	background-image: url('https://i.postimg.cc/bv1wx3Jb/mapa-sw-iata-z-kropkami-pikseli-36244-1074.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;

	.container {
		.section-description-box {
			margin: 0;
		}
	}
}

// Trial-Section

.trial {
	background-image: url('https://images.pexels.com/photos/9828238/pexels-photo-9828238.jpeg');
	background-position: 0 25%;
	background-repeat: no-repeat;
	background-size: cover;
	height: 450px;

	.shadow {
		background-color: rgba(0, 0, 0, 0.8);
	}

	.container {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.section-title {
		color: $text-lighter;
		font-size: 46px;
		margin-bottom: 30px;

		&::after {
			display: none;
		}
	}

	span {
		font-weight: 700;
	}

	.trial-btn {
		background-color: $main-color;
		color: $text-lighter;
	}
}

// Footer Sectiorn

.footer {
	background-image: url('https://i.postimg.cc/XYnzngGL/Bez-tytu-u.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 400px;

	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		padding: 30px 0;

		.logo {
			display: flex;
			align-items: center;
			img {
				width: 25px;
				height: 25px;
				margin-right: 10px;
			}

			p {
				display: inline-block;
				color: $text-dark;
			}
		}

		ul {
			list-style-type: none;

			li {
				display: inline-block;
				margin-left: 20px;

				a {
					text-decoration: none;
					padding: 0 15px;
					text-transform: uppercase;
					color: $text-dark;
					font-size: 14px;
				}
			}
		}
	}
}
